	<% unless user_signed_in? %>
	
	<div class="hero-unit">


	<h1>Welcome, get inspired!</h1>
	<p>
			Share your favorite pictures, links and impression - with a single click! <br>
			Inspired by the  
			<%= link_to "Pinterest", "http://pinterest.com"%> 
			application.
	</p>
	<p>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

</div>
<% end %>