<div class="bunth">
<h1>About </h1>
</div>
<body>
<div class="kleinbox">
<p>
<br>
<br>
<br>
<br>
	Thanks for Visiting my first Ruby 'n Rails Application. Pleas contact me with questions via
	<%= link_to "Facebook", "http://www.facebook.com/mariussewing"%>
	Thanks!
</p>
</div>


</body>