<div class="hero-unit">


	<h1>Our most liked Rails Projects on the web are...</h1>
	<p>
			Find a tutor right now! 
			<%= link_to "HeyTutor", "http://www.Heytutor.com"%> 
			
	</p>
	<p>
		<%= link_to "Take me to the moon", "http://www.nasa.com", class: "btn btn-primary btn-large" %>
	</p>

</div>