<div class="hero-unit">


	<h1>Endlisch mal weg von dem Quatsch hier?</h1>
	<p>
			GUck mal zum beispiel hier, nette Lkw-Fahrerinnen! 
			<%= link_to "WKW", "http://www.werkenntwen.de"%> 
			
	</p>
	<p>
		<%= link_to "Jetzt zum Mond fliegen", "http://www.nasa.com", class: "btn btn-primary btn-large" %>
	</p>

</div>